.subscriptionSection {
    display: flex;
    padding: 69px 118px;
    gap: 100px;
}

.subscriptionTitle {
    font-size: 66px;
    margin-bottom: 27px;
}

.subscriptionItem {
    font-size: 21px;
    margin-bottom: 16px;
    padding: 7px 16px;
    background-color: #F5F5F7;
    border-radius: 40px;
}